.container {
  width: 100vw;
  text-align: center;
}

.matrix {
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;

  margin-top: 3rem;
}

.disableMatrix {
  pointer-events: none;
}

.singleRowElements {
  display: flex;
}

.rowStyles {
  border-bottom: 1px solid white;
}

.columnStyles {
  border-right: 1px solid white;
}

.cellStyles {
  cursor: pointer;
  min-width: 1.5rem;
  min-height: 1.5rem;
  padding: 0.5rem 1rem;
}
